body{
    padding: 30px !important;
    margin: 0 !important;
    font-family: 'Montserrat' !important;
    overflow: hidden;
    background-color: white;
}


nav{
    display: flex;
    justify-content: space-between
}

.left-nav a{
    display: flex;
    text-decoration: none;
    color: #323842;
}

.left-nav p{
    padding-top: 8px;
    padding-left: 15px;
    color: black;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
}

.right-nav{
    padding-top: 8px;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #323842;
}

.right-nav a{
    text-decoration: none;
    color: #bd3470;
}


section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}


.sent-img{
    margin-top: -120px;
    margin-bottom: 30px;
}

.hero h1{
    font-weight: 900;
    letter-spacing: 1px;
    padding-bottom: 5px;
    color: #323842;
}

.hero p{
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
    color: #323842;
}



.inputs-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 35vw;
    margin-bottom: 30px;
}

.inputs-div input, select {
   width: 15%;
   height: 100px;
   border: solid #bcc1ca 3px;
   border-radius: 10px;
   font-size: 40px;
   font-weight: 600;
   text-align: center;
}


.inputs-div input:focus, select:focus {
    border: solid #323842 3px;
}


.clear-btn{
    padding: 5px 20px !important;
    border: solid #323842 2px !important;
    font-weight: 600 !important;
}

.clear-btn:hover{
    border: solid #323842 2px !important;
    background-color: #323842 !important;
}


.submit{
    padding: 0.7rem 2rem !important;
    background-color: #bd3470 !important;
    border: none !important;
    color: white !important;
    font-weight: bold !important;
    cursor: pointer !important;
    border-radius: 20px !important;
    transition: background-color 0.3s ease !important;
    margin-top: 20px;
    width: 30% !important;
    letter-spacing: 2px !important;
    margin-bottom: 20px !important;
}

.submit:hover {
    background-color: #c9608e !important;
}

.back-to-login{
    display: flex;
    text-decoration: none;
    margin-top: 10px;
}

.back-to-login p{
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
    color: #323842;
    font-size: 14px;
    padding-left: 5px;
}

.back-to-login :hover{
    color: #bd3470;
    
}


.no-account{
    display: none;
}








@media(min-width: 0px) and (max-width: 480px){

    body{
        padding: 10px 15px !important;
    }

    .name-txt{
        display: none;
    }

    .no-account{
        display: block;
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: 500;
        color: #323842;
    }

    .no-account a{
        text-decoration: none;
        color: #bd3470;
    }

    nav{
        display: none;
    }

    .sent-img{
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .inputs-div {
        width: 90vw;
    }

    .inputs-div input, select {
        width: 15.8%;
        font-size: 30px;
        height: 80px;
    }

    .submit{
        width: 85% !important;
    }

}



@media(min-width: 481px) and (max-width: 1279px){

    .inputs-div {
        width: 55vw;
    }

    .submit{
        width: 55% !important;
    }

}












