body{
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'Montserrat' !important;
    overflow-x: hidden;
    background-color: whitesmoke;
}


section{
    height: 100vh !important;
    display: flex !important;
}


.details-div {
    position: relative;
    width: 45% !important;
    background-color: white;
    z-index: 2;
    overflow: visible; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    height: 100vh;           
    text-align: center;
}

.details-div::after {
    content: "";
    position: absolute;
    top: 0;
    right: -70px;
    width: 100px;
    height: 100vh; 
    background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 100 1000' xmlns='http://www.w3.org/2000/svg'><path fill='%23ffffff' d='M100,0 C0,600 70,500 100,1000 L0,1000 L0,0 Z'/></svg>") no-repeat center center;
    background-size: cover;
    z-index: 3;
    pointer-events: none;
}


.logo{
    margin-bottom: 20px;
}


.logo img{
    width: 90px;
    height: 90px;
    align-self: center;
}

.details-div h1{
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: #373435;
}

.details-div h2{
    position: relative;
    text-align: center;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 3px;
    margin-top: 20px;
    color: #bd3470;
}

.underline {
    width: 250px;
    height: 4px;
    background-color: #bd3470;
    border: none;
    margin-top: -5px;
    margin-bottom: 5px;
    border-radius: 2px;
}


.details-div p {
    width: 80%; 
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 15px !important;
    color: #373435;
}

.details-div a{
    text-decoration: none;
    text-align: center;
    color: #373435;
    font-size: 15px;
    transition: all 0.3s;
}

.details-div a:hover{
    color: #bd3470 !important;
    transform: scale(1.1) !important;
}

span{
    color: #bd3470;
}


.form-div{
    width: 55% !important;
    background-image: linear-gradient(to right, #843171 , #bd3470);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;        
    text-align: center;
}

.welcome-txt{
    font-size: 30px;
    font-weight: 900;
    margin-left: 50px;
}

.welcome-line {
    width: 350px;
    height: 4px;
    background-color: white;
    border: none;
    margin-top: -30px;
    margin-bottom: 35px;
    border-radius: 2px;
    margin-left: 50px;
}


.form-div h1{
    color: white;
    font-weight: 900;
    font-size: 30px;
    padding-bottom: 30px;
    letter-spacing: 2px;
}

.form-div a{
    text-decoration: none;
    text-align: center;
    color: #373435;
    font-size: 15px;
    transition: all 0.3s;
}

.form-div a:hover{
    color: #bd3470 !important;
    transform: scale(1.1) !important;
}


.form-bg{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 40px;
    border-radius: 25px 0;
    margin-left: 50px;
}
    

.inputs-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30vw;
    margin-bottom: 1rem;
}

input, select {
  padding: 12px 16px !important;
  border: none !important;
  border-bottom: 3px solid white !important; 
  border-radius: 0 !important;                
  background-color: transparent !important; 
  font-size: 1.2rem !important;
  font-weight: 500 !important;
  letter-spacing: 1px;
  width: 100%;
  outline: none !important;               
  box-shadow: none !important;   
}


input:focus, select:focus {
  border-bottom: 3px solid #bd3470 !important;
  background-color: transparent !important;
}



.password-wrapper {
    position: relative;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #555;
    transition: color 0.3s;
    width: 30px;
    height: 30px;
}

.eye-icon:hover {
    color: #000;
}



.submit{
    padding: 0.7rem 2rem !important;
    background-color: white !important;
    border: none !important;
    color: #bd3470 !important;
    font-weight: bold !important;
    cursor: pointer !important;
    border-radius: 5px !important;
    transition: background-color 0.3s ease !important;
    margin-top: 20px;
    width: 50% !important;
    letter-spacing: 2px !important;
    margin-bottom: 20px !important;
}

.submit:hover {
    background-color: #eeccdb !important;
}

.alert {
    padding: 12px;
    margin-top: 15px;
    border-radius: 4px;
}

.alert-success {
    background-color: #D3212C;
    color: #ffffff;
}

.alert-danger {
    background-color: #801d27;
    color:  #ffffff;
}

@media screen and (max-width: 1200px){
    .logo{
        margin-top: -10px;
        margin-bottom: 20px;
    }

    .logo img{
        width: 90px;
        height: 90px;
    }

    .details-div h1{
        font-size: 30px;
    }

    .details-div h2{
        font-size: 25px;
    }

    .details-div p {
        font-size: 12px !important;
    }

    .details-div a{
        font-size: 12px;
    }

}

@media screen and (max-width: 758px){

    section{
        min-height: 100vh !important;
        display: block !important;
        width: 100vw !important;
    }

    .details-div::after {
        display: none;
    }

    .details-div {
        width: 100% !important;
        max-height: 50vh; 
    }

    .details-div p {
        display: none;
    }

    .logo{
        margin-top: -120px;
        margin-bottom: 20px;
    }

    .logo img{
        width: 90px;
        height: 90px;
    }
    .details-div h1{
        font-size: 30px;
    }

    .details-div h2{
        font-size: 25px;
        margin-top: 15px;
    }

    .details-div a{
        font-size: 12px;
        margin-bottom: -100px !important;
    }

    .inputs-div {
        gap: 1rem;
        width: 100%;
        margin-bottom: 1rem;
    }


    .form-div{
        width: 100% !important;
        background-image: none;
        background-color: white;
    }

    .form-bg{
        background-color: rgba(189, 52, 112, 0.4);
        padding: 35px;
        margin-left: 5px;
        margin-bottom: 50px !important;
        width: 80vw;
    }

    input, select {
        padding: 12px 16px !important;  
        width: 100% !important;
    }

    .welcome-txt{
        font-size: 25px !important;
        margin-left: 0px;
        color: #bd3470 !important;  
    }

    .welcome-line {
        display: none;
    }

}


@media screen and (max-width: 483px){

    .form-bg{
        width: 95vw;
    }

}














